* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Milliard Light';
}

body.app_page {
  overflow: hidden;
}

@font-face {
  font-family: 'Milliard Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Milliard Medium"), url("../fonts/Rene Bieder  Milliard Medium.woff") format("woff");
}

@font-face {
  font-family: 'Milliard Light';
  font-style: normal;
  font-weight: normal;
  src: local("Milliard Light"), url("../fonts/Rene Bieder  Milliard Light.woff") format("woff");
}

@font-face {
  font-family: 'Milliard SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local("Milliard SemiBold"), url("../fonts/Rene Bieder  Milliard SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Milliard Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Milliard Bold"), url("../fonts/Rene Bieder  Milliard Bold.woff") format("woff");
}

body::-webkit-scrollbar {
  display: none;
}

section.main {
  background: rgba(0, 0, 0, 0.4) url("../images/tinder.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  position: relative;
  max-width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 28px 90px 28px;
  background: black;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(27%, rgba(0, 0, 0, 0.827066)), color-stop(50%, rgba(0, 0, 0, 0.625385)), color-stop(76%, rgba(0, 0, 0, 0.384489)), color-stop(89%, rgba(0, 0, 0, 0.241632)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.827066) 27%, rgba(0, 0, 0, 0.625385) 50%, rgba(0, 0, 0, 0.384489) 76%, rgba(0, 0, 0, 0.241632) 89%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  position: relative;
}

.menu .logo {
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu .logo:hover {
  cursor: pointer;
}

.menu ul {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu ul li {
  margin-left: 33px;
  display: inline-block;
  font-size: 20px;
}

.menu ul a {
  color: white;
  text-decoration: none;
}

.menu ul a:hover {
  text-decoration: underline;
  color: #FD546C;
  cursor: pointer;
}

.menu .drop_menu {
  position: absolute;
  display: none;
  top: 20px;
  left: 186px;
  padding-top: 30px;
  width: 210px;
}

.menu .drop_menu li {
  margin-left: 0;
  margin-bottom: 8px;
  font-size: 18px;
}

.menu .drop_menu ul {
  margin-left: 40px;
}

.menu .drop_menu ul li {
  display: inline-block;
  width: 100%;
}

.menu_mobile {
  display: none;
}

.login button {
  border: 0;
  font-size: 15px;
  background: transparent;
  color: white;
  font-family: 'Milliard Light';
}

.login button i {
  margin-right: 4px;
  font-size: 14px;
}

.login button:hover {
  color: #FD546C;
}

.login button.language_mobile {
  color: #303742;
}

.login button.language_mobile:hover {
  color: #FD546C;
}

.login .register {
  display: none;
}

.login .enter {
  color: #FD546C;
  font-size: 15px;
  text-decoration: none;
  background: white;
  padding: 10px 24px;
  border-radius: 5px;
  margin-left: 38px;
}

.login .enter:hover {
  background: #fd267a;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #fd267a), to(#ff7854));
  background: linear-gradient(90deg, #fd267a 17%, #ff7854 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7854",endColorstr="#fd267a",GradientType=1);
  color: white;
}

.text {
  position: absolute;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.text h2 {
  width: 100%;
  color: white;
  font-size: 8vw;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Milliard Medium';
}

.text button {
  margin-top: 17px;
  color: white;
  background: #fd267a;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #fd267a), to(#ff7854));
  background: linear-gradient(90deg, #fd267a 17%, #ff7854 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7854",endColorstr="#fd267a",GradientType=1);
  padding: 18px 68px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  font-size: 15px;
}

.text button:hover {
  background: #FD546C;
}

.google_icon {
  display: none;
  z-index: 2;
}

.depositions {
  width: 100%;
  padding: 30px 0;
}

.depositions .center {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.depositions .box_deposition_single {
  font-family: 'Milliard Light';
  width: 32.5%;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.144);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.096);
}

.depositions .box_deposition_single h2 {
  color: #303742;
  font-size: 18px;
  font-weight: bold;
}

.depositions .box_deposition_single .hr {
  width: 100%;
  height: 1px;
  background: #dfdfdf;
  width: 80%;
  margin: 10px 0;
}

.depositions .box_deposition_single i {
  display: inline-block;
  font-size: 45px;
  position: absolute;
  top: 25px;
  right: 20px;
  color: #d6d6d6;
}

.depositions .box_deposition_single p {
  font-family: 'Milliard light';
  color: #667180;
  font-size: 15px;
  margin-bottom: 50px;
}

footer .center {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

footer .box_single {
  padding: 10px;
}

footer .box_single h2 {
  color: #303742;
  font-size: 18px;
}

footer .box_single .icons {
  width: 85%;
}

footer .box_single .icons a {
  color: #424242;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
  margin: 3px 7px;
}

footer .box_single .icons a:hover {
  color: #FD546C;
}

footer .box_single a {
  display: block;
  margin: 10px 0;
  font-size: 15px;
  text-decoration: none;
  color: #667180;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .box_single a:hover {
  color: #FD546C;
}

footer .hr {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  width: 100%;
  height: 1px;
  background: #dfdfdf;
  width: 100%;
}

footer .box_single:nth-of-type(7) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

footer .box_single:nth-of-type(7) div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .box_single:nth-of-type(7) div a {
  width: 160px;
  height: 52px;
  margin: 0 15px;
}

footer .box_single:nth-of-type(7) div a img {
  width: 100%;
  height: 100%;
}

footer .box_single:nth-of-type(7) div a:last-of-type {
  width: 182px;
  height: 75px;
}

footer .box_single:nth-of-type(7) p {
  font-family: 'Milliard Light';
  width: 100%;
  margin-bottom: 14px;
  display: inline-block;
  font-size: 14px;
  color: #667180;
}

footer .footer {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 2%;
  padding: 20px 2% 40px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .links a {
  margin-left: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #667180;
}

footer .footer .links a:hover {
  color: #FD546C;
  cursor: pointer;
}

footer .footer p {
  font-size: 13px;
  color: #667180;
}

.modal_register,
.modal_login {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.664);
  display: none;
}

.modal_register .box_modal,
.modal_login .box_modal {
  background: white;
  width: 440px;
  margin: 0 auto;
  height: calc(100vh - 80px);
  border-radius: 10px;
  text-align: center;
  padding: 45px;
  position: relative;
  margin-top: 40px;
}

.modal_register .box_modal .close,
.modal_login .box_modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  text-align: center;
}

.modal_register .box_modal .close i,
.modal_login .box_modal .close i {
  color: #dddddd;
  font-size: 18px;
  line-height: 25px;
}

.modal_register .box_modal i,
.modal_login .box_modal i {
  font-size: 30px;
  color: #FD546C;
}

.modal_register .box_modal h2,
.modal_login .box_modal h2 {
  font-size: 24px;
  color: #303742;
  font-style: italic;
  margin: 15px 0;
}

.modal_register .box_modal p,
.modal_login .box_modal p {
  font-family: 'Milliard Light';
  font-size: 13px;
  color: #667180;
  margin-bottom: 30px;
}

.modal_register .box_modal p.error,
.modal_login .box_modal p.error {
  font-size: 16px;
  color: #FD546C;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: 'Milliard Medium';
}

.modal_register .box_modal button,
.modal_login .box_modal button {
  padding: 15px;
  background: white;
  border: 2px solid #303742;
  border-radius: 40px;
  color: #667180;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  font-size: 15px;
  cursor: pointer;
}

.modal_register .box_modal button svg, .modal_register .box_modal button i,
.modal_login .box_modal button svg,
.modal_login .box_modal button i {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 15px;
  font-size: 24px;
  color: gray;
}

.modal_register .box_modal button.create_accont,
.modal_login .box_modal button.create_accont {
  border: none;
  display: inline-block;
  padding: 0;
  width: auto;
}

.modal_register .box_modal button.create_accont:hover,
.modal_login .box_modal button.create_accont:hover {
  color: #FD546C;
  text-decoration: underline;
}

.modal_register .box_modal input,
.modal_login .box_modal input {
  padding: 15px;
  background: white;
  border: 0;
  border: 1px solid #dadada;
  color: #667180;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 20px;
  position: relative;
  font-size: 15px;
  outline: none;
}

.modal_register .box_modal a,
.modal_login .box_modal a {
  color: #667180;
  font-size: 15px;
}

.modal_register .box_modal .hr,
.modal_login .box_modal .hr {
  width: 100%;
  height: 1px;
  background: #dfdfdf;
  margin: 20px 0;
}

.modal_register .box_modal .icons,
.modal_login .box_modal .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_register .box_modal .icons a,
.modal_login .box_modal .icons a {
  width: 180px;
  height: 47px;
  margin: 10px 8px;
}

.modal_register .box_modal .icons a img,
.modal_login .box_modal .icons a img {
  width: 100%;
  height: 100%;
}

.modal_register .box_modal .icons a:last-of-type,
.modal_login .box_modal .icons a:last-of-type {
  width: 202px;
  height: 71px;
  margin-top: -2px;
}

.modal_login .box_modal form button {
  color: white;
  background: #fd267a;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #fd267a), to(#ff7854));
  background: linear-gradient(90deg, #fd267a 17%, #ff7854 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7854",endColorstr="#fd267a",GradientType=1);
  padding: 18px 68px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  font-size: 15px;
  font-family: 'Milliard SemiBold';
  cursor: pointer;
  margin-bottom: 0;
}

.modal_login .box_modal form button:hover {
  background: #FD546C;
}

.modal_login .box_modal .modal_register_link {
  color: #FD546C;
  font-size: 15px;
  text-decoration: none;
  background: white;
  padding: 10px 24px;
  border-radius: 40px;
  border: 1px solid lightgray;
}

.modal_register .box_modal form input {
  padding: 15px;
  background: white;
  border: 0;
  border: 1px solid #dadada;
  color: #667180;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 20px;
  position: relative;
  font-size: 15px;
  outline: none;
}

.modal_register .box_modal form .modal_register_btn {
  color: white;
  background: #fd267a;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #fd267a), to(#ff7854));
  background: linear-gradient(90deg, #fd267a 17%, #ff7854 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7854",endColorstr="#fd267a",GradientType=1);
  padding: 18px 68px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.384);
  font-size: 15px;
  font-family: 'Milliard SemiBold';
  cursor: pointer;
  margin-bottom: 0;
}

.modal_register .box_modal form .modal_register_btn:hover {
  background: #FD546C;
}

.modal_register .box_modal .modal_login_btn {
  color: #FD546C;
  font-size: 15px;
  text-decoration: none;
  background: white;
  padding: 10px 24px;
  border-radius: 40px;
  border: 1px solid lightgray;
}

.modal_register .box_modal .error {
  padding: 0;
  margin: 2px 0;
}

/* APP PAGE */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}

.content .aside {
  width: 374px;
  background: white;
}

.content .aside .title {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fd267a;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #fd267a), to(#ff7854));
  background: linear-gradient(90deg, #fd267a 17%, #ff7854 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7854",endColorstr="#fd267a",GradientType=1);
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.123);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.123);
}

.content .aside .title > i {
  display: none;
  color: white;
}

.content .aside .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .aside .title div .img {
  width: 36px;
  height: 36px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.2);
}

.content .aside .title div .img img {
  width: 102%;
  height: 102%;
  border-radius: 55%;
}

.content .aside .title div .img i {
  font-size: 14px;
  line-height: 30px;
  margin: 0 auto;
  color: #dddddd;
}

.content .aside .title div h2 {
  margin-left: 20px;
  font-size: 22px;
  color: white;
}

.content .aside .title button {
  width: 36px;
  height: 36px;
  border: 2px solid rgba(221, 221, 221, 0.753);
  border-radius: 50%;
  text-align: center;
  background: transparent;
}

.content .aside .title button i {
  color: white;
  font-size: 17px;
}

.content .aside .sidebar_content {
  z-index: 2;
  padding: 12px 22px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 70px);
  border-right: 1px solid #e1def1;
}

.content .aside .sidebar_content .settings {
  position: absolute;
  left: -375px;
  width: 101%;
  height: 100%;
  margin-top: -11px;
  background-color: #f8f1f1;
}

.content .aside .sidebar_content .settings button {
  font-family: 'Milliard Medium';
  width: 100%;
  color: #605e69;
  background: white;
  border: 1px solid #e1def1;
  margin: 0;
  border-collapse: collapse;
  padding: 15px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  outline: none;
}

.content .aside .sidebar_content .settings button.logout {
  cursor: pointer;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .aside .sidebar_content .settings .settings_wrapper h2 {
  font-family: 'Milliard SemiBold';
  font-size: 14px;
  color: #605e69;
  margin: 20px 15px 10px 15px;
}

.content .aside .sidebar_content .settings .settings_wrapper .button {
  width: 50px;
  border-radius: 20px;
  border: 2px solid gray;
  height: 23px;
  min-width: 50px;
  position: relative;
}

.content .aside .sidebar_content .settings .settings_wrapper .button p.circle {
  position: absolute;
  margin-top: -1.2px;
  margin-left: -1px;
  width: 22px;
  border-radius: 50%;
  height: 21px;
  border: 1px solid gray;
  background: #c2c2c2;
}

.content .aside .sidebar_content .settings .settings_wrapper .button.actived p {
  left: 26px;
  background: #FD546C;
}

.content .aside .sidebar_content .settings .settings_wrapper span {
  color: #585a6b;
  cursor: pointer;
  min-width: 100px;
  text-align: right;
}

.content .aside .sidebar_content .settings .settings_wrapper span:hover {
  color: #FD546C;
}

.content .aside .sidebar_content .settings .settings_wrapper span:hover i {
  color: #FD546C;
}

.content .aside .sidebar_content .settings .settings_wrapper i {
  color: #e5e5f7;
  font-size: 13px;
  margin-left: 5px;
}

.content .aside .sidebar_content .settings .settings_wrapper input {
  text-align: right;
  display: inline-block;
  border: 0;
  outline: none;
}

.content .aside .sidebar_content .settings .settings_wrapper select {
  border: 0;
  outline: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  color: gray;
  font-size: 15px;
}

.content .aside .sidebar_content .chat {
  position: absolute;
  width: 375px;
  left: 20px;
}

.content .aside .sidebar_content .chat button {
  font-family: 'Milliard SemiBold';
  border: none;
  background: transparent;
  font-size: 15px;
  border-bottom: 3.5px solid #FD546C;
  padding: 1px 7px;
  color: #242323;
  margin-right: 16px;
}

.content .aside .sidebar_content .chat button:last-of-type {
  border: none;
}

.content .aside .sidebar_content .chat .box_content {
  z-index: 1;
  width: 748px;
  height: calc(100vh - 130px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches {
  height: 100%;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches .box_matches_single {
  margin-top: 10px;
  width: calc(100% + 110px);
  margin-left: -60px;
  border-left: 4px solid #FD546C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches .box_matches_single .box_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches .box_matches_single .box_img .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches .box_matches_single .info {
  margin-left: 10px;
  text-align: left;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches .box_matches_single .info h2 {
  margin: 0;
  font-size: 17px;
}

.content .aside .sidebar_content .chat .box_content .matches .box_matches .box_matches_single .info p {
  font-size: 13px;
}

.content .aside .sidebar_content .chat .box_content .box_chat {
  margin-left: -20px;
  width: 100%;
  height: calc(100% + 10px);
  margin-top: 10px;
  background: #f1f1f1;
  -webkit-box-shadow: inset -8px 10px 18px -13px #e1def1;
  box-shadow: inset -8px 10px 18px -13px #98989d;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single {
  width: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .box_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .box_img .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .info {
  margin-left: 10px;
  text-align: left;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .info h2 {
  margin: 0;
  font-size: 17px;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .info p {
  font-size: 13px;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .notifications {
  position: absolute;
  right: 20px;
  text-align: center;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single .notifications p {
  font-family: 'Milliard SemiBold';
  color: white;
  line-height: 30px;
  background: #FD546C;
  border-radius: 50%;
  padding: 0 6px;
}

.content .aside .sidebar_content .chat .box_content .box_chat .box_chat_single.actived {
  border-right: 4px solid #FD546C;
  background: white;
  -webkit-box-shadow: 0px 0px 16px -1px #A4A4A9;
  box-shadow: 0px 0px 16px -1px #A4A4A9;
}

.content .aside .sidebar_content .chat .box_content .matches, .content .aside .sidebar_content .chat .box_content .messages {
  height: 100%;
  position: relative;
  width: 50%;
}

.content .aside .sidebar_content .chat .box_content .matches > div,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro {
  width: 85%;
  position: absolute;
  top: 51%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 410px;
  text-align: center;
  padding: 0 40px;
  padding-bottom: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon.matches,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon.matches {
  height: 35%;
  margin-top: 100px;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon {
  height: 50%;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon .first_card,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon .first_card {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon svg,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon svg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon svg:first-of-type,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon svg:first-of-type {
  z-index: 3;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon svg:nth-of-type(2),
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon svg:nth-of-type(2) {
  z-index: 2;
  top: 28px;
  left: 53%;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon svg:nth-of-type(3),
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon svg:nth-of-type(3) {
  z-index: 1;
  top: 35px;
  left: 56%;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon .chat_1,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon .chat_1 {
  -webkit-animation-name: chat_1;
          animation-name: chat_1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.content .aside .sidebar_content .chat .box_content .matches > div .icon .chat_2,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro .icon .chat_2 {
  -webkit-animation-name: chat_2;
          animation-name: chat_2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.content .aside .sidebar_content .chat .box_content .matches > div h2,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro h2 {
  margin-bottom: 10px;
  color: #303742;
}

.content .aside .sidebar_content .chat .box_content .matches > div p,
.content .aside .sidebar_content .chat .box_content .messages > .chat_intro p {
  font-size: 14px;
  height: calc(100% - 51% - 74px);
  color: #667180;
}

.content .main {
  width: calc(100% - 374px);
  background: #F3F5F8;
  position: relative;
}

.content .main .menu_btn_mobile {
  display: none;
  margin: 10px;
  font-size: 22px;
}

.content .main .settings_user {
  display: none;
}

.content .main .not_found {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  color: #303742;
}

.content .main .box_card {
  width: 376px;
  height: 661px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12);
  position: relative;
}

.content .main .box_card .card_content {
  background-position: center !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: calc(100% - 107px);
  position: relative;
  -webkit-box-shadow: inset 0px -50px 28px -21px #0D0D0D;
  box-shadow: inset 0px -50px 28px -21px #0D0D0D;
  border-radius: 10px 10px 0 0;
}

.content .main .box_card .card_content div {
  width: 100%;
  background: #0d0d0d;
  background: -webkit-gradient(linear, left bottom, left top, from(#0d0d0d), color-stop(85%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #0d0d0d 0%, rgba(255, 255, 255, 0) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d0d",endColorstr="#ffffff",GradientType=1);
  position: absolute;
  bottom: -30px;
  padding: 50px 20px;
}

.content .main .box_card .card_content div h2 {
  font-family: 'Milliard SemiBold';
  color: white;
  font-size: 30px;
}

.content .main .box_card .card_content div h2 span {
  font-size: 24px;
  font-family: 'Milliard Light';
}

.content .main .box_card .card_content div p {
  font-family: 'Milliard Medium';
  color: white;
  margin-top: 5px;
}

.content .main .box_card .icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 107px;
  background: #0D0D0D;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .main .box_card .icons .circle {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 5px;
}

.content .main .box_card .icons .circle i {
  line-height: 68px;
  font-size: 29px;
}

.content .main .box_card .icons .deslike {
  border: 1px solid #FD546C;
  color: #FD546C;
}

.content .main .box_card .icons .deslike i {
  font-size: 34px;
}

.content .main .box_card .icons .favorite {
  width: 58px;
  height: 58px;
  border: 1px solid #4FD7F7;
  color: #4FD7F7;
}

.content .main .box_card .icons .favorite i {
  line-height: 58px;
}

.content .main .box_card .icons .like {
  border: 1px solid #19E5A0;
  color: #19E5A0;
}

.content .main .chat {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.content .main .chat .box_chat {
  width: 65%;
  border-right: 1px solid #e1def1;
}

.content .main .chat .box_chat .user_info {
  display: none;
}

.content .main .chat .box_chat .box_messages {
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto;
  padding-top: 10px;
}

.content .main .chat .box_chat .box_messages::-webkit-scrollbar {
  display: none;
}

.content .main .chat .box_chat .box_messages .box_message_single {
  width: 80%;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .main .chat .box_chat .box_messages .box_message_single p {
  padding: 8px 18px;
  background: #e2e2e2;
  border-radius: 20px 20px 20px 0;
  font-size: 15px;
  color: #3b3b3b;
}

.content .main .chat .box_chat .box_messages .box_message_single.me {
  margin-left: 20%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content .main .chat .box_chat .box_messages .box_message_single.me p {
  background: gray;
  color: white;
  border-radius: 20px 20px 0 20px;
}

.content .main .chat .box_chat .btn {
  border-top: 1px solid #e1def1;
  background: #f9f9f9;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main .chat .box_chat .btn input {
  width: 85%;
  border: 0;
  outline: none;
  background: transparent;
  padding: 3px 5px;
}

.content .main .chat .box_chat .btn button {
  font-family: 'Milliard SemiBold';
  width: 14%;
  border-radius: 20px;
  outline: none;
  border: 0;
  background: #d5d5d5;
  color: white;
}

.content .main .chat .box_user {
  width: 35%;
  height: 100vh;
  position: relative;
}

.content .main .chat .box_user .user_info {
  position: relative;
  width: 100%;
  height: 100%;
}

.content .main .chat .box_user .img {
  width: 100%;
  height: 60%;
}

.content .main .chat .box_user .img img {
  height: 100%;
}

.content .main .chat .box_user .info {
  border: 1px solid #e1def1;
  border-left: none;
  padding: 10px 15px;
}

.content .main .chat .box_user .info h2 {
  font-family: 'Milliard SemiBold';
  font-size: 30px;
  color: #474747;
}

.content .main .chat .box_user .info h2 span {
  font-size: 24px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.content .main .chat .box_user .info p {
  color: #a0a0a0;
  font-size: 14px;
}

.content .main .chat .box_user .info p i {
  font-size: 13px;
}

.content .main .chat .box_user .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f0f0f0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #e1def1;
}

.content .main .chat .box_user .btn button {
  font-family: 'Milliard SemiBold';
  color: #afafaf;
  width: 50%;
  height: 100%;
  background: transparent;
  border: none;
  border-right: 1px solid #e1def1;
  cursor: pointer;
}

.fa-chevron-down {
  display: none;
}

@-webkit-keyframes chat_1 {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1.1) translateY(-10px) translateX(-3px);
            transform: scale(1.1) translateY(-10px) translateX(-3px);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes chat_1 {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1.1) translateY(-10px) translateX(-3px);
            transform: scale(1.1) translateY(-10px) translateX(-3px);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes chat_2 {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1.1) translateY(-10px) translateX(-12px);
            transform: scale(1.1) translateY(-10px) translateX(-12px);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes chat_2 {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1.1) translateY(-10px) translateX(-12px);
            transform: scale(1.1) translateY(-10px) translateX(-12px);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
    top: 20px;
  }
  50% {
    -webkit-transform: rotate(20deg) translateX(-45%);
            transform: rotate(20deg) translateX(-45%);
    left: 45%;
    top: 30px;
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
    top: 20px;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
    top: 20px;
  }
  50% {
    -webkit-transform: rotate(20deg) translateX(-45%);
            transform: rotate(20deg) translateX(-45%);
    left: 45%;
    top: 30px;
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
    top: 20px;
  }
}

@media screen and (max-width: 896px) {
  .nav {
    padding: 10px 22px 90px 22px;
  }
  .menu .logo {
    font-size: 27px;
    font-family: 'Milliard SemiBold';
  }
  .menu .logo i {
    font-size: 22px;
  }
  .language {
    display: none;
  }
  .menu_links {
    display: none;
  }
  .login .enter {
    position: absolute;
    top: 78%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    width: 80%;
    margin-left: 0;
    border-radius: 30px;
    text-align: center;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 0;
    font-family: 'Milliard SemiBold';
  }
  .login .enter:hover {
    background: none;
  }
  .login .register {
    display: block;
    position: absolute;
    top: 68%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    width: 80%;
    margin-left: 0;
    border-radius: 30px;
    text-align: center;
    background: white;
    border: 2px solid white;
    color: #2e2e2e;
    padding: 15px 0;
    font-family: 'Milliard SemiBold';
    cursor: pointer;
  }
  .login .register:hover {
    color: #2e2e2e;
  }
  .text {
    width: 100%;
    top: 40%;
  }
  .text h2 {
    font-family: 'Milliard Bold';
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    font-size: 10vw;
    margin-top: -20vw;
    line-height: 11vw;
  }
  .text button {
    display: none;
  }
  .google_icon {
    display: block;
    position: absolute;
    top: 93%;
    left: 50%;
    -webkit-transform: translate(-50%, -93%);
            transform: translate(-50%, -93%);
    width: 210px;
    height: 85px;
  }
  .google_icon img {
    width: 100%;
    height: 100%;
  }
  .depositions .box_deposition_single {
    display: none;
  }
  .depositions .box_deposition_single:nth-of-type(1) {
    display: block;
    width: 100%;
  }
  footer .center {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  footer .center .box_single {
    width: 100%;
  }
  footer .center .box_single a {
    font-size: 14px;
  }
  footer .center .box_single:nth-of-type(4) a {
    display: inline-block;
    font-size: 24px;
  }
  footer .center .box_single:nth-of-type(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  footer .center .box_single:nth-of-type(7) .appStore {
    display: none;
  }
  footer .center .box_single:nth-of-type(7) a:last-of-type {
    width: 142px;
    height: 55px;
  }
  footer .hr {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .modal_register .box_modal,
  .modal_login .box_modal {
    width: 100%;
    height: 100vh;
    padding-top: 15px;
    margin-top: 0;
    border-radius: 0;
  }
  .modal_register .box_modal h2,
  .modal_login .box_modal h2 {
    font-family: 'Milliard Bold';
  }
  .modal_register .box_modal i,
  .modal_login .box_modal i {
    margin-bottom: 46px;
  }
  .modal_register .box_modal button,
  .modal_login .box_modal button {
    font-family: 'Milliard SemiBold';
    width: 310px;
    display: block;
    margin: 10px auto;
  }
  .modal_register .box_modal button svg, .modal_register .box_modal button i,
  .modal_login .box_modal button svg,
  .modal_login .box_modal button i {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    left: 15px;
    font-size: 16px;
    color: gray;
  }
  .modal_register .box_modal .app,
  .modal_login .box_modal .app {
    display: none;
  }
  .menu_mobile {
    display: block;
  }
  .menu_mobile .menu_btn {
    color: white;
    font-size: 18px;
  }
  .menu_mobile_box {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 110%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    z-index: 99;
    padding: 10px 12px;
  }
  .menu_mobile_box .logo {
    font-size: 27px;
    font-family: 'Milliard Bold';
    font-weight: 600;
    color: #363636;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
  }
  .menu_mobile_box .logo:hover {
    cursor: pointer;
  }
  .menu_mobile_box .logo i {
    color: #fd267a;
    font-size: 22px;
  }
  .menu_mobile_box .menu_links_mobile > li {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
    width: 100%;
    padding: 10px;
    background: #f1f2f5;
    color: #303742;
    font-family: 'Milliard SemiBold';
  }
  .menu_mobile_box .menu_links_mobile > li a {
    color: #303742;
    text-decoration: none;
    font-family: 'Milliard SemiBold';
  }
  .menu_mobile_box .menu_links_mobile > li.active {
    color: #FD546C;
  }
  .menu_mobile_box .menu_links_mobile > li.drop_menu_link_mobile {
    position: relative;
  }
  .menu_mobile_box .menu_links_mobile > li.drop_menu_link_mobile i {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #d8d8d8;
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile {
    margin-left: 20px;
    display: none;
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile > li {
    list-style: none;
    margin-bottom: 10px;
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile > li:first-of-type {
    margin-bottom: 20px;
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile > li a {
    font-size: 15px;
    color: #686868;
    text-decoration: none;
    font-family: 'Milliard SemiBold';
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile ul {
    margin-left: 20px;
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile ul li {
    list-style: none;
    margin-bottom: 20px;
  }
  .menu_mobile_box .menu_links_mobile .drop_menu_mobile ul li a {
    font-size: 15px;
    color: gray;
    text-decoration: none;
    font-family: 'Milliard SemiBold';
  }
  .menu_mobile_box .menu_login {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .menu_mobile_box .menu_login .enter_mobile {
    font-family: 'Milliard SemiBold';
    font-size: 15px;
    width: 92%;
    display: inline-block;
    padding: 10px;
    background: #fd267a;
    background: -webkit-gradient(linear, left top, right top, color-stop(17%, #fd267a), to(#ff7854));
    background: linear-gradient(90deg, #fd267a 17%, #ff7854 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7854",endColorstr="#fd267a",GradientType=1);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .menu_mobile_box .close_menu {
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 1px 4px;
    text-align: center;
  }
  .menu_mobile_box .close_menu i {
    color: #dddddd;
  }
  .content .aside {
    position: absolute;
    left: -375px;
    z-index: 99;
  }
  .content .main {
    width: 100%;
  }
  .content .main .menu_btn_mobile {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .content .main .chat .box_chat {
    width: 100%;
  }
  .content .main .chat .box_chat .user_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70px;
    background: #FD546C;
    padding: 0 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content .main .chat .box_chat .user_info div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .main .chat .box_chat .user_info i {
    color: white;
    margin-right: 20px;
    font-size: 20px;
  }
  .content .main .chat .box_chat .user_info .img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .content .main .chat .box_chat .user_info .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .content .main .chat .box_chat .user_info h2 {
    font-size: 18px;
    color: white;
    margin-left: 10px;
  }
  .content .main .chat .box_chat .box_messages {
    height: calc(100% - 137px);
    padding: 0 10px;
    padding-top: 10px;
  }
  .content .main .chat .box_user {
    position: absolute;
    right: -1000px;
    width: 100%;
    background: #fbfbfb;
  }
  .content .main .chat .box_user .img {
    text-align: center;
  }
  .content .main .chat .box_user .user_info_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FD546C;
    margin-right: 20px;
    font-size: 20px;
    z-index: 99;
  }
}
/*# sourceMappingURL=style.css.map */